<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="blog.css" />
  </head>
  <body>
    <%- include("./common/header") %> <%- include("./common/carousel") %>

    <section class="container-fluid py-5">
      <div class="row g-4 d-flex">
        <h1 class="text-center text-light">Our Blog</h1>
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog1.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Jan 01, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog2.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Jan 14, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog3.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Jan 16, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog4.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Jan 20, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog5.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Jan 26, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog6.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Jan 31, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog7.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Feb 02, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card blog-card">
            <img
              src="./images/blog8.webp"
              class="card-img-top"
              alt="Blog Image"
            />
            <div class="card-body">
              <span>Feb 09, 2024 | Admin</span>
              <p>
                Even the all-powerful Pointing has no control over blind texts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="container-fluid py-5">
      <div class="row g-4 d-flex">
        <div class="col-sm-12 col-md m-0 p-0">
          <div class="card blog-card-end">
            <img
              src="./images/blog down 1.webp"
              class="img-fluid"
              alt="Blog Image"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md m-0 p-0">
          <div class="card blog-card-end">
            <img
              src="./images/blog down 2.webp"
              class="img-fluid"
              alt="Blog Image"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md m-0 p-0">
          <div class="card blog-card-end">
            <img
              src="./images/blog down 3.webp"
              class="img-fluid"
              alt="Blog Image"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md m-0 p-0">
          <div class="card blog-card-end">
            <img
              src="./images/blog down 4.webp"
              class="img-fluid"
              alt="Blog Image"
            />
          </div>
        </div>

        <div class="col-sm-12 col-md m-0 p-0">
          <div class="card blog-card-end">
            <img
              src="./images/blog down 5.webp"
              class="img-fluid"
              alt="Blog Image"
            />
          </div>
        </div>
      </div>
    </section>

    <%- include("./common/footer") %>
  </body>
</html>
